.container{
    background-color:rgb(191, 240, 255);
    width: 350px;
    border-radius: 5%;
    border-top: 5%;
    padding-bottom: 2%;
    margin-top: 20px;
    margin-left: 35%;
}
.head{

    background-color: rgb(129, 129, 224);
    color: white;
    font-size: 18px;
    font-weight: 50px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 10px;
    padding-bottom: -44%;
    padding-top: 5%;
}
.header p{
    font-size: 23px;
    padding-left: 5%;
    font-family: 'Times New Roman', Times, serif;

}
.header-bottom h1{
    font-size: 260%;
    padding-left: 5%;
}
.header-bottom h2{
    display: inline-block;
    justify-content: space-between;
    padding-left: 5%;
    font-size: 20px;
    display: inline-block;
    margin-top: -40px;
} 
.Try-for-free{
    font-size: 15px;
    padding-left: 5%;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -4%;
}
.btn{
    color: white;
    background-color: rgb(84, 84, 175);
    border-radius: 30px;
    padding: 15px 90px;
    text-decoration: none;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
    justify-content: center;
    margin-left: 10% ;
    margin-top: 10%;
}
.btn:hover{
    background-color: darkblue;
}
.body{
    font-size: 17.5px;
    font-weight: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
.body p{
    margin-top: 7%;
    padding-left: 5%;

}