.tables{
    padding: 20%;

}
#0{
    color: cadetblue;

}
td{
    width: 61.9531px; 
    text-align: center; 
    height: 23px;
}
#1{
    color: chocolate;
}
.bathe{
    color: plum;
}
#table2 td{
    width: 583px
}